<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
	<title>«TALABA LAÝYK ÖNÜM»</title>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="gCHiAWon0bmSyfG5M9-ruCkuNp8ixyUhiDahr7oxxXA" />
	<meta name="description" content="Полипропиленовые мешки, производимые в Туркменистане" />
	<meta name="robots" content="мешок, мешки, тара, сетка, биг бяг, сумка, пакет, ПП, ПЭ, Полипропилен, Полиэтилен, Полипропиленовые, Полипропиленовый,
	Полипропиленовая, Полиэтиленовые, Полиэтиленовая, Полиэтиленовый, Полимерный, Полимерные, Полимерная" />

	<meta name="googlebot" content="мешок, мешки, тара, сетка, биг бяг, сумка, пакет, ПП, ПЭ, Полипропилен, Полиэтилен, Полипропиленовые, Полипропиленовый,
	Полипропиленовая, Полиэтиленовые, Полиэтиленовая, Полиэтиленовый, Полимерный, Полимерные, Полимерная" />
	<meta name="keywords" content="
	мешок, мешки, тара, сетка, биг бяг, сумка, пакет, ПП, ПЭ, Полипропилен, Полиэтилен, Полипропиленовые, Полипропиленовый,
	Полипропиленовая, Полиэтиленовые, Полиэтиленовая, Полиэтиленовый, Полимерный, Полимерные, Полимерная
	">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->

	<link rel="shortcut icon" href="{% static './tayyn/logo.png' %}" type="image/x-icon">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/themify/themify-icons.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/elegant-font/html-css/style.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<!--===============================================================================================-->


	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'new_css/css/bootstrap.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'new_css/css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'new_css/css/dark.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'new_css/css/font-icons.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'new_css/css/animate.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'new_css/css/magnific-popup.css' %}" type="text/css" />

	<link rel="stylesheet" href="{% static 'new_css/css/custom.css' %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="animsition">

	{% include 'inc/ru/header.html' %}

	{% block content %}

	{% endblock %}

	{% include 'inc/ru/footer.html' %}






	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>


	<div id="dropDownSelect1"></div>



	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

	<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>


	<script src="{% static 'new_css/js/jquery.js' %}"></script>
	<script src="{% static 'new_css/js/plugins.min.js' %}"></script>

	<script src="{% static 'new_css/js/functions.js' %}"></script>

</body>

</html>